/* === CSS Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: system-ui, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

/* CSS START */

/* Container Grid Layout */
.container {
  display: grid;
  grid-template-columns: minmax(200px, 250px) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "sidebar topbar"
  "sidebar main-content"
  ;
}

/* Sidebar Container */
.sidebar {
  grid-area: sidebar;
}

/* Topbar Container */
.topbar {
  grid-area: topbar;
}

/* Main Content Container */
.main-content {
  grid-area: main-content;
}